@font-face {
  font-family: "Elsa";
  src: url('../../assets/fonts/elsa/elsa.eot');
  src: url('../../assets/fonts/elsa/elsa.woff') format('woff'),
       url('../../assets/fonts/elsa/elsa.ttf') format('truetype'),
       url('../../assets/fonts/elsa/elsa.svg') format('svg');
font-weight: normal;
font-style: normal;
}

.portfolio {
    position: relative;
    text-align: center;
}


#projects .project {
    clear: both;
    overflow: hidden;
    position: relative;
    height: 400px;
  }
  
  #projects .project a {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20
  }

  #projects .project a:active{
    background: rgba(159, 27, 52, .3);
  }
  
   #projects .project .infos {
    min-height: 100px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    z-index: 10;
    background: rgba(0, 0, 0, .5);
    box-shadow: 15px 5px 35px 5px rgba(0, 0, 0, .25),
               -15px -5px 35px 5px rgba(0, 0, 0, .25);
    margin: 0;
    padding: 0;
  }
  
  #projects .project .infos .text {
    margin: 0 auto;
    max-width: 420px;
    width: 75%;
  }
  
  #projects .project .infos .text h3 {
    color: #fff;
    display: block;
    font-family: "Elsa", sans-serif;
    font-size: 24px;
    width: 100%;
    letter-spacing: 2px;
    line-height: 14px;
    margin-bottom: 15px;
    padding-top: 30px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }
  
  #projects .project .infos .text p {
    color: #fff;
    font-family: "Elsa", sans-serif;
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-weight: 200;   
  }
  
   #projects .project .image {
    float: right;
    transform: translateX(-100%);
    transition: all .75s cubic-bezier(0.77, 0, 0.175, 1);
    transition-delay: .15s;
    width: 50%
  }
  
  #projects .project .image img {
    display: block;
    height: auto;
    width: 200%
  }
  
  #projects .project:before {
    background: #fff;
    content: '';
    display: block;
    height: 10px;
    position: absolute;
    top: 50%;
    left: -5%;
    transform: translateX(0%) translateZ(0);
    transition: all .75s cubic-bezier(0.77, 0, 0.175, 1);
    transition-delay: .15s;
    width: 10px;
    border-radius:10px;
    z-index: 15
  }
  
  #projects .project:hover:before {
    left: 100%;
    transform: translateX(-50%) translateZ(0);
    width:60px;
    height:2px;
    left: 50%;
    opacity:0
  }
  
  #projects .project:after {
    background: linear-gradient(to right, #131b34 0, rgba(19, 27, 52, 0) 100%);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transform: translateZ();
    transition: opacity .75s cubic-bezier(0.77, 0, 0.175, 1);
    transition-delay: .15s;
    width: 100%
  }
  
  #projects .project:hover:after {
    opacity: 1
  }
  
  #projects .project:last-child {
    margin-bottom: 0
  }
  
  #projects .project:hover .image {
    transform: translateX(0%)
  }

  .portfolio_slide {
    width: 100%;
    height: auto;
  }