.production {
    position: relative;
    text-align: center;
    height: 150vh;
    scroll-behavior: smooth;
    z-index: 1;
}

.top-banner {
    display: flex;
    width: calc(100% - 150px);
    height: 150vh;
    transform: translateX(150px);
}

.top-banner-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    padding: 20px;
    transition: transform .7s;
    color: white;
    background: rgba(0, 0, 0, .7);
}

.top-banner-overlay.is-moved {
    transform: translateX(350px);
}

.top-banner-overlay.is-moved::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    width: 20px;
    box-shadow: 0 0 10px black;
}

.top-banner-overlay p {
    font-size: 1rem;
    margin-top: 10px;
}

.top-nav li + li {
    margin-top: 7px;
}








.top-nav .menu-wrapper {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    padding: 20px;
    transform: translateX(-200px);
    transition: transform .7s;
    background: gray;
    overflow: hidden;
}

.top-nav .menu-wrapper.is-opened {
    transform: translateX(150px);
}

.top-nav .menu-wrapper .menu {
    opacity: 0;
    transition: opacity .4s;
}

.top-nav .menu-wrapper.is-opened .menu {
    opacity: 1;
    transition-delay: .6s;
}

.top-nav .menu-wrapper .menu a {
    font-size: 1.2rem;
}

.top-nav .menu-wrapper .sub-menu {
    padding: 10px 0 0 7px;  
}

.top-nav .menu-wrapper .menu-close {
    position: absolute;
    top: 120px;
    right: 20px;
    font-size: 1.6rem;
    cursor: pointer;
}

.top-nav .fixed-menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 20px;
    background: #333;
}

.top-nav .fixed-menu .menu-open {
    font-size: 1.8rem;
    text-align: left;
    margin: 130px 0 auto;
    width: 28px;
    cursor: pointer;
}

.menu-open,
.menu-close {
    background: transparent;
    border: none;
}







.form_container {
    max-width: 450px;
    margin: 0 auto;
    border-top: 5px solid #435757;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    user-select: none;
  }
  
  .form_title--prod {
    margin: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, .4);
    font-size: 1.8em;
    text-align: center;
  }
  
  .items {
    display: flex;
    flex-direction: column;
    padding: 20px;
    counter-reset: done-items undone-items;
  }
  
  h4 {
    position: relative;
    margin: 0;
    padding: 10px 0;
    font-size: 1.2em;
  }
  
  h4::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -20px;
    width: 5px;
    background-color: #435757;
  }
  
  h4::after {
    display: block;
    float: right;
    font-weight: normal;
  }
  
  .done {
    order: 1;
  }
  
  .done::after {
    content: ' (' counter(done-items) ')';
  }
  
  .undone {
    order: 3;
  }
  
  .undone::after {
    content: ' (' counter(undone-items) ')';
  }
  

  input {
    display: block;
    height: 53px;
    margin: 0 0 -53px -9999px;
    order: 4;
    outline: none;
    counter-increment: undone-items;
  }
  
  input:checked {
    order: 2;
    counter-increment: done-items;  
  }
  
  label {
    display: block;
    position: relative;
    padding: 15px 0 15px 45px;
    border-top: 1px dashed #fff;
    order: 4;
    cursor: pointer;
    animation: undone .5s;
  }
  
  label::before {
    content: '\f10c';
    display: block;
    position: absolute;
    top: 11px;
    left: 10px;
    font: 1.5em 'FontAwesome';
  }
  
  label:hover, input:focus + label {
    background-color: rgba(255, 255, 255, .2);
  }
  
  input:checked + label {
    order: 2;
    animation: done .5s;
  }
  
  input:checked + label::before {
    content: '\f058';
  }
  
  @keyframes done {
    0% {
      opacity: 0;
      background-color: rgba(255, 255, 255, .4);
      transform: translateY(20px);
    }
    50% {
      opacity: 1;
      background-color: rgba(255, 255, 255, .4);
    }
  }
  
  @keyframes undone {
    0% {
      opacity: 0;
      background-color: rgba(255, 255, 255, .4);
      transform: translateY(-20px);
    }
    50% {
      opacity: 1;
      background-color: rgba(255, 255, 255, .4);
    }
  }