@font-face {
  font-family: "Elsa";
  src: url('../../../assets/fonts/elsa/elsa.eot');
  src: url('../../../assets/fonts/elsa/elsa.woff') format('woff'),
      url('../../../assets/fonts/elsa/elsa.ttf') format('truetype'),
      url('../../../assets/fonts/elsa/elsa.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

a[href="#blog_article_5"] {
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, .5);
}

#artcl_btn {
  border: 1px solid rgba(255, 255, 255, .5);
}

.list_articles {
  margin: 0;
  padding-top: 0;
  list-style: none;
  z-index: 0;
}

.preview__title,
.preview__text {
  font-family: "Elsa", sans-serif;
  color: #fff;
  width: 110%;
  text-shadow: 10px 5px 15px 20px #000;
  z-index: 0;
}

.preview__text {
  line-height: 1.8;
  font-size: 18px;
}

#articles_box {
  padding: 10px 120px 10px 50px;
  z-index: 0;
}

.open_post-1,
.open_post-2,
.open_post-3,
.open_post-4,
.open_post-5 {
  position: fixed;
  top: -100%;
  left: 0;
  width: 90%;
  height: 500%;
  border: 1px solid #ccc;
  background: rgba(0, 0, 0, 0.98);
  color: #ddd;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: "Elsa", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 2.2;
  text-align: justify;
  transition: 0.4s ease-out;
  z-index: 999;
  }

  .open_post-5 {
    top: -393%;
  }

.open_post-1.hidden-1,
.open_post-2.hidden-2,
.open_post-3.hidden-3,
.open_post-4.hidden-4,
.open_post-5.hidden-5 {
  opacity: 0;
  visibility: hidden;
  }

.open_post-1 p,
.open_post-2 p,
.open_post-3 p,
.open_post-4 p,
.open_post-5 p,
.open_post-1 ul,
.open_post-2 ul,
.open_post-3 ul,
.open_post-4 ul,
.open_post-5 ul {
  padding: 0 10px;
  clear: both;
  text-indent: 20pt;
  font-size: 12px;
}


.open_post-1 .article_author,
.open_post-2 .article_author,
.open_post-3 .article_author,
.open_post-4 .article_author,
.open_post-5 .article_author {
  font-style: italic;
}

.blog_btn {
  display: inline-block;
  width: 50px;
  height: 50px;
  float: right;
  border-radius: 50%;
  transition: all .4s;
  transition-delay: all .4s;
  transition-duration: all .4s;
}


.close_btn {
  display: inline-block;
  padding: 0 20px;
  margin-left: 80%;
  border: 1px solid #fff;
  border-radius: 10%;
  font-size: 16px;
  transition: all .4s;
  transition-delay: all .4s;
  transition-duration: all .4s;
  background: #111;
  opacity: 1;
  cursor: pointer;
}

.close_btn:hover {
  box-shadow: 1px 0 1px 0 #ccc;
  box-shadow: -1px 0 1px 0 #ccc;
  box-shadow: 0 1px 1px 0 rgb(121, 54, 54);
  background: #000;
  opacity: 1;
  color: #fff;
  transition: all .4s; 
  transition-delay: all .4s;
  transition-duration: all .4s;
 }

.blog_btn:hover {
 box-shadow: 1px 0 1px 0 #ccc;
 box-shadow: -1px 0 1px 0 #ccc;
 box-shadow: 0 1px 1px 0 #ccc;
 box-shadow: 0 -1px 1px 1px #ccc;
 transition: all .4s; 
 transition-delay: all .4s;
 transition-duration: all .4s;
}

article {
  position: relative;
}

.article_title {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding-left: 150px;
}

.preview__more, .previews__container span, .tabs {
  font-family: "Elsa", sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.card__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: background-color 0.4s ease-in-out;
}

section {
  position: relative;
}

.section-padding {
  padding: 4em 0;
}
.section-padding--lg {
  padding: 6em 0;
}
.section-padding--sm {
  padding: 2em 0;
}

[class*=__container] {
  position: relative;
  z-index: 1;
}

@media (max-width: 54em) {
  .previews {
    display: flex;
    flex-direction: column;
  }
}
.previews > *:first-child {
  position: relative;
  height: 30em;
  background-color: #0a0a0a;
}
@media (min-width: 54em) {
  .previews > *:first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 45%;
  }
}
.previews > *:last-child {
  min-height: 100vh;
}
@media (min-width: 54em) {
  .previews > *:last-child {
    margin-left: 45%;
  }
}

.tabs {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
@media (min-width: 54em) {
  .tabs {
    padding-left: 8em;
    padding-right: 8em;
  }
}
@media (min-width: 114em) {
  .tabs {
    padding-left: 10em;
    padding-right: 10em;
  }
}

.tabs__item {
  cursor: pointer;
}

.tabs__item:not(.active) {
  position: relative;
  color: #0a0a0a;
}

.tabs__item:not(.active):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: width 0.4s ease-in-out;
}

.tabs__item:not(.active):hover:after {
  width: 100%;
}

.tab.active {
  will-change: opacity;
  animation: fade-in 1s both;
}

.previews__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 2em;
  color: rgba(0,  0,  0,  .35);

}

.previews__container span {
  font-family: "Elsa", sans-serif;
}

.preview {
  transition: background-color 0.2s ease-in-out;
  margin: 0;
  width: 110%;
  transform: translateX(-40px);
  text-decoration: none;
  text-align: left;
}

.articles_box:first-child {
  box-shadow:  5px -5px 0px 5px rgba(0, 0, 0, .1);
}

.preview:hover .preview__more {
  box-shadow: inset 175px 0 0 0 rgba(0, 0, 0, 1);
  color: rgba(255,  255,  255,  1);
  border: 3px solid rgba(0, 0, 0, .85);
  cursor: pointer;
}

.preview__img {
  will-change: opacity;
  animation: fade-in 1s both;
}

.preview__link {
  display: block;
  padding: 2em 1em;
  text-decoration: none;
}

@media (min-width: 54em) {
  .preview__link {
    padding: 4em 8em;
  }
}

@media (min-width: 114em) {
  .preview__link {
    padding-left: 10em;
    padding-right: 10em;
  }
}

.preview__date {
  font-family: "Elsa", sans-serif;
  color: #0a0a0a;
}

.preview__header {
  color: rgba(0, 0, 0, .75);
  margin-bottom: 0.5em;
  text-decoration: none;
  text-transform: none;
}

p[clas="preview__excerpt"] {
  color: #0a0a0a;
  text-decoration: none;
  text-transform: none;
}

.preview__more {
  display: inline-block;
  padding: 0.5em;
  font-family: "Elsa", sans-serif;
  color: rgba(255,  255,  255,  .95);
  border: 3px solid rgba(0, 0, 0, .15);
  background-color: rgba(40, 40, 40, .95);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .75);
  transition: all 0.4s ease-in-out;
  border-radius: 4px;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding: 2em 1em;
}

.cards > * {
  padding: 0.25em;
  flex-basis: 100%;
  max-width: 100%;
}

@media (min-width: 54em) {
  .cards > * {
    flex-basis: 50%;
    max-width: 50%;
  }
}

@media (min-width: 114em) {
  .cards > * {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }
}

@media (min-width: 54em) {
  .cards {
    padding: 4em 2em;
  }
}

.card__link {
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1), 0 1px 2px rgba(10, 10, 10, 0.2);
  position: relative;
  display: block;
  background-color: rgba(0,  0,  0,  .25);
  transition: background-color 0.2s ease-in-out;
}

.card__link:after {
  box-shadow: 0 3px 6px rgba(10, 10, 10, 0.1), 0 3px 6px rgba(10, 10, 10, 0.2);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  will-change: opacity;
  transition: opacity 0.4s ease-in-out;
}

.card__img {
  position: relative;
  height: 12em;
  background-color: #0a0a0a;
}

.card__container {
  padding: 2em 1em;
}

.card__header {
  color: rgba(0, 0, 0, .75);
}

.card__count {
  color: #0a0a0a;
}

.card__more {
  display: inline-block;
  padding: 0.25em;
  font-family: "Elsa", sans-serif;
  color: rgba(0, 0, 0, .75);
  border: 3px solid rgba(0, 0, 0, .75);
  box-shadow: inset 0 0 0 0 rgba(0, 0, 0, .75);
  transition: all 0.4s ease-in-out;
}

/**
 * Footer
 */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 30em) {
  .footer {
    flex-direction: row;
  }
}

.footer__archive {
  position: relative;
  color: #0a0a0a;
}

.footer__archive:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 3px solid rgba(0, 0, 0, .75);
  transition: width 0.4s ease-in-out;
}

.footer__social {
  display: flex;
  margin-top: 1em;
}
@media (min-width: 30em) {
  .footer__social {
    margin-top: 0;
  }
}

.footer__social > *:not(:last-child) {
  margin-right: 1em;
}

/**
 * Animations
 */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  will-change: opacity;
  animation: fade-in 2s both;
}