@font-face {
    font-family: "Elsa";
    src: url('../../../../assets/fonts/elsa/elsa.eot');
    src: url('../../../../assets/fonts/elsa/elsa.woff') format('woff'),
         url('../../../../assets/fonts/elsa/elsa.ttf') format('truetype'),
         url('../../../../assets/fonts/elsa/elsa.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }
  
.chanel__info {
    position: relative;
    text-align: right;
    padding: 0 5%;
}

.chanel__titles {
    color: #f4f5f9;
    font-family: "Elsa", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    padding-right: 0;
}

.chanel__subtitle {
    color: #ccccccc4;
    font-family: "Elsa", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
}

.chanel__text--1, 
.chanel__text--2, 
.chanel__text--3 {
    max-width: 560px;
    color: #999999;
    font-family: "Elsa", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 29px;
}

.chanel__text--3 {
    padding-bottom: 140px;
}
