@font-face {
    font-family: "Elsa";
    src: url('../../../../assets/fonts/elsa/elsa.eot');
    src: url('../../../../assets/fonts/elsa/elsa.woff') format('woff'),
         url('../../../../assets/fonts/elsa/elsa.ttf') format('truetype'),
         url('../../../../assets/fonts/elsa/elsa.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  }
  
  .electro__info {
    position: relative;
    text-align: right;
    padding: 0 5%;
}

.electro__title {
    margin-top: 150px;
    color: #f4f5f9;
    font-family: "Elsa", sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    border-right: 6px solid #fff;
    border-radius: 3px;
    padding-right: 50px;
}

.electro__subtitle {
    color: #ddd;
    font-family: "Elsa", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
}

.electro__text--1, 
.electro__text--2, 
.electro__text--3 {
    max-width: 560px;
    color: #ddd;
    font-family: "Elsa", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 29px;
}

.electro__text--3 {
    padding-bottom: 140px;
}
