.cable {
    display: flex;
    justify-content: space-between;
    background: rgba(0, 0, 0, .75);
    border-bottom: 1px solid rgba(255, 255, 255, .25);
    border: 1px solid rgba(255, 255, 255, .25);
}