@font-face {
    font-family: "Elsa";
	src: url('../../../../assets/fonts/elsa/elsa.eot');
	src: url('../../../../assets/fonts/elsa/elsa.woff') format('woff'),
		 url('../../../../assets/fonts/elsa/elsa.ttf') format('truetype'),
		 url('../../../../assets/fonts/elsa/elsa.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.nav__list {
    position: relative;
	list-style: none;
	z-index: 200;
}

.nav__list::after {
	position: fixed;
	top: -15px;
	left: -50%;
	content: '';
	width: 2000px;
	height: 120px;
	background-color: rgba(0, 0, 0, .75);
	z-index: 25;
}

.nav__list li {
    position: relative;
	display: inline-block;
	vertical-align: middle;
	margin-left: 38px;
}

.menu__link {
    position: fixed;
    padding-bottom: 19px;
    font-family: "Elsa", sans-serif;
    font-size: 25px;
	font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
	color: #b7b7b7;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
	line-height: 52px;
	letter-spacing: 0.75;
	vertical-align: middle;
	transition-duration: color .6s;
    transition: color .6s;
    z-index: 30;
}

.nav__list li a:hover {
	text-decoration: overline;
	transition: all .6s;
    color: #fff;
}

.minilogo {
	margin-left: -180px;
	margin-top: -15px;
	width: 75px;
	height: 75px;
}

.link-home {
	margin-left: -105px;
}

.link-about {
	margin-left: 10px;
	word-wrap: normal;
}

.link-activity {
	margin-left: 120px;
}

.link-production {
	margin-left: 250px;
}

.link-portfolio {
	margin-left: 440px;
}

.link-blog {
	margin-left: 585px;
}

.link-contact {
	margin-left: 640px;
}

.active_link {
	cursor: default;
    text-decoration: overline;
	color: #fff;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.link-home[href='#1'] {
    text-decoration: none;
}