.about__history {
    border-top: 2px solid #e6e7eb;
    padding: 0 5%;
}

.history__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    margin-top: 140px;
    margin-bottom: 328px;
}

.history__img {
    width: 506px;
    height: 407px;
}

.about__info {
    font-size: 24px;
}

.history__title {
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    padding-left: 29px;
    text-align: center;
	text-shadow: 2px 4px 13px rgba(0,0,0,0.75);
}

.history__title::first-letter {
    color: blue;
    font-size: 130%;
  }